
html, body{
	scroll-behavior: smooth;
	font-family: verdana;
	margin: 0;
	padding: 0;
	color: #eee;
	/* background-color: rgb(74, 165, 165); */
	background-color: #ebebeb;
}

a{
	text-decoration: none;	
	color: inherit;
}

.underBar{
	margin-top: 1.75em;
}

div.navBar{
	font-size: 1.7em;
	/* background-color: #262626; */
	background-color: #004e79;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.navBar a{
	text-decoration: none;
	color: #eee;
}

.navBar a:hover{
	color: #ddd;
}

table.navLinks{
	width: 100%;
	border-spacing: 5px;
}

table.navLinks td{
	height: 1.5vh;
	text-align: center;
	width: 33.3%;
}

.curPage:hover{
	background-color: #003e5e;
}

.otherPage:hover{
	background-color: #003e5e;
	color: white;
	transition: .25s;
	border-radius: 10px;
}

.curPage{
	background-color: #006297;
	border-radius: 5px;
}

.fullLink{
	padding-top: .5vh;
	height: 100%;
	width: 100%;
}

.meImg{
	height: 60vh; 
	width: auto;
	border-radius: 5%;
}

.meText{
	flex: 70%;
	padding-left: 5vh;
	font-size: 1.2em;
	margin: 0;
	margin-left: 5%
}

.blurbSurround{
	width: 75%;
	padding: 5%;
	/* background-color: #3D3C3C; */
	background-color: #003e5e;
	margin-left: 7.5%;
	margin-top: 5.4em;
	display: flex;
	border-radius: 3vh;
}

.infoStrip{
	font-size: 2.5em;
	/* background-color: #262626; */
	background-color: #005888;
	text-align: center;
	padding: 1vh;
}

.floatBoxes{
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contactFlex, .projectFlex{
	background-color: #003e5e;
	word-wrap: break-word;
	width: 19%;
	padding: 0%;
	margin: 2%;
	border-radius: 1vh;
	text-align: center;
	padding-bottom: 1%;
	border: black 2px solid;
}

.projectFlex{
	width: 25%;
}

.contactImg{
	width: 100%;
}

.imgSurround{
	background-color: white;
	padding: 3% 40% 3% 40%;
	border-radius: 1vh 1vh 0vh 0vh;
}

.contactHeader{
	text-align: center;
	font-size: 1.5em;
	margin: .5vh;
}